@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");

:root {
  --color-primary: #452d18ff;
  --color-secondary: #937b64;
  --color-accent: #ffde81;
  --color-ligth1: #fffdf4;
  --color-ligth2: #f1f1f4;
  --color-ligth3: #eaeaed;
  --color-ligth4: #f5eac5;
  --color-dark1: #3b1d04;
  --color-dark2: #3a3a3c;
  --color-dark3: #341d09;
  --color-error: #ff3b3b;
  --color-success: #06c270;
  --color-warning: #c28a3e;

  --font-family-Trade: "Trade Winds", serif;
  --font-family-Montserrat: "Montserrat", sans-serif;

  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-50: 3.125rem;
  --font-size-100: 6.25rem;
  --font-size-150: 9.375rem;

  --font-weigth-regular: 400;
  --font-weigth-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weigth-bold: 700;
  --font-weight-extra-bold: 800;

  --linea-height-text: 1.2;

  --padding-2: 0.125rem;
  --padding-4: 0.25rem;
  --padding-6: 0.375rem;
  --padding-8: 0.5rem;
  --padding-10: 0.625rem;
  --padding-12: 0.75rem;
  --padding-14: 0.875rem;
  --padding-16: 1rem;
  --padding-20: 1.25rem;
  --padding-30: 1.875rem;
  --padding-40: 2.5rem;
  --padding-60: 3.75rem;

  --gap-6: 0.375rem;
  --gap-8: 0.5rem;
  --gap-10: 0.625rem;
  --gap-12: 0.75rem;
  --gap-16: 1rem;
  --gap-20: 1.25rem;
  --gap-22: 1.375rem;
  --gap-24: 1.5rem;
  --gap-28: 1.75rem;
  --gap-30: 1.875rem;
  --gap-40: 2.5rem;
  --gap-50: 3.125rem;
  --gap-60: 3.75rem;
  --gap-80: 5rem;
  --gap-100: 6.25rem;

  --margin-5: 0.3125rem;
  --margin-6: 0.375rem;
  --margin-8: 0.5rem;
  --margin-10: 0.625rem;
  --margin-15: 0.9375rem;
  --margin-20: 1.25rem;
  --margin-24: 1.5rem;
  --margin-30: 1.875rem;
  --margin-40: 2.5rem;
  --margin-50: 3.125rem;
  --margin-60: 3.75rem;
  --margin-80: 5rem;
  --margin-100: 6.25rem;

  --border-radius-8: 8px;
  --border-radius-12: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--border-12);
}
*::-webkit-scrollbar-track:hover {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: var(--color-ligth1);
  border-radius: var(--border-12);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--color-ligth4);
  color: var(--color-dark1);
  text-align: center;
  font-weight: bold;
  width: 100%;
}

footer {
  width: auto;
  height: auto;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--margin-10);
  gap: var(--gap-8);
  padding: var(--padding-10);
}
.casilla {
  height: 60px;
  width: 60px;
  background-color: var(--color-ligth1);
}

main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  width: 90%;
  margin-top: var(--margin-20);
}

h1 {
  font-family: var(--font-family-Trade);
  font-size: var(--font-size-40);
  padding: var(--padding-10) 0;
}

h2 {
  font-family: var(--font-family-Montserrat);
  font-size: var(--font-size-36);
  padding: var(--padding-10) 0;
  color: var(--color-dark1);
}

/* Secciones */
#seccion-1,
#seccion-2,
#seccion-3,
#seccion-4,
#seccion-5,
#seccion-6 {
  color: var(--color-ligth1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#seccion-1,
#seccion-3 {
  gap: var(--gap-30);
  margin-top: var(--margin-6);
}
#seccion-2 {
  gap: var(--gap-24);
}
#seccion-4 {
  gap: var(--gap-30);
  padding: var(--padding-20);
}
#seccion-5 {
  justify-content: space-around;
}
#seccion-6 {
  justify-content: center;
  gap: var(--gap-30);
}

/* Jugadores */
.jugador-info-container {
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-ligth1);
  border-radius: var(--border-radius-12);
  padding: var(--padding-20);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  gap: var(--gap-20);
}
.datos-jugador-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-20);
  height: 200px;
  width: 100%;
}
.imagen-jugador-container {
  height: 100%;
}
.imagen-jugador-container img {
  filter: drop-shadow(2px 4px 6px black);
}
.estadisticas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: var(--gap-10);
  padding: var(--padding-4);
}
.estadisticas-container > div {
  border: 4px solid var(--color-accent);
  padding: var(--padding-6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding-6);
  background-color: var(--color-primary);
  color: var(--color-ligth1);
  font-size: var(--font-size-16);
  font-family: var(--font-family-Montserrat);
  font-weight: var(--font-weigth-bold);
  line-height: calc(var(--linea-height-text) * var(--font-size-16));
}

/* Mercado  */
.mercado-container,
.enemigos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  width: 100%;
  height: 86%;
  overflow-y: auto;
  gap: var(--padding-20);
  overflow-x: hidden;
  padding: var(--padding-20);
  border-radius: var(--border-radius-12);
  background-color: var(--color-secondary);
}
.producto,
.enemigo-container {
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
  flex-direction: column;
  display: flex;
  background-color: var(--color-ligth1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  border-radius: var(--border-radius-12);
  color: var(--color-dark1);
  font-family: var(--font-family-Montserrat);
  padding: var(--padding-10);
  font-weight: var(--font-weigth-bold);
  font-size: var(--font-size-16);
}
.img-producto-container,
.imagen-enemigo-container {
  width: 100%;
  height: 200px;
}
.data-producto-container,
.enemigo-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
  padding: var(--padding-8);
}

/* Seccion 5 batallas */
#seccion-5 h2 {
  color: var(--color-ligth1);
}
#seccion-5 p {
  color: var(--color-ligth1);
  font-family: var(--font-family-Montserrat);
  font-weight: var(--font-weigth-medium);
  font-size: var(--font-size-20);
}
.batalla-vs {
  font-size: var(--font-size-32);
}
.jugador-imagen-container,
.enemigo-imagen-container {
  height: 100%;
  background-color: var(--color-ligth1);
  padding: var(--padding-20);
  border-radius: var(--border-radius-12);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
  font-family: var(--font-family-Montserrat);
  font-weight: var(--font-weigth-bold);
  font-size: var(--font-size-40);
  line-height: calc(var(--linea-height-text) * var(--font-size-40));
}

.resultados-container {
  opacity: 0;
  height: 20px;
  overflow: hidden;
  transition: opacity 1s ease;
}
.resumen-batallas {
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 76px;
  background-color: var(--color-ligth1);
  color: var(--color-dark1);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: var(--border-radius-12);
  gap: var(--gap-20);
  padding: var(--padding-12);
  align-items: start;
  justify-content: flex-start;
  transition: opacity 1s ease;
}
.resumen-batallas::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: var(--border-12);
}
.resumen-batallas::-webkit-scrollbar {
  width: 6px;
}
.batalla-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45%;
  gap: var(--gap-40);
}
.batallita-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--gap-10);
}

.batalla-container > span {
  font-size: var(--font-size-30);
}
.ranking-container,
.resultados-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Imagenes*/
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
img.img-inventario {
  width: 100%;
  height: 100%;
  display: block;
}

img.img-inventario:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

/* Botones*/
.continuar,
.reiniciar {
  padding: var(--padding-10) var(--padding-20);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-extra-bold);
  font-family: var(--font-family-Montserrat);
  background-color: var(--color-ligth4);
  color: var(--color-dark1);
  border: none;
  border-radius: var(--border-radius-12);
  cursor: pointer;
}
.continuar:focus,
.continuar:focus-visible,
.reiniciar:focus,
.reiniciar:focus-visible {
  background-color: var(--color-accent);
  border: 2px solid var(--color-secondary);
  color: var(--color-dark1);
}
.continuar:hover,
.reiniciar:hover {
  background-color: var(--color-accent);
  color: var(--color-dark1);
  transform: scale(1.02);
  transition: background-color 0.4s ease, color 0.4s ease, scale 0.4s ease;
}
.continuar:active,
.reiniciar:active {
  background-color: var(--color-dark3);
  color: var(--color-ligth1);
  transform: scale(1.02);
  transition: background-color 0.4s ease, color 0.4s ease, scale 0.4s ease;
}
.continuar:disabled,
.reiniciar:disabled {
  background-color: var(--color-ligth2);
  color: var(--color-dark2);
  cursor: not-allowed;
}
.continuar:hover::before,
.reiniciar:hover::before {
  content: "⚔️";
}

.comprar,
.retirar {
  padding: var(--padding-10) var(--padding-20);
  font-size: var(--font-size-16);
  font-family: var(--font-family-Montserrat);
  font-weight: var(--font-weight-extra-bold);
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius-12);
  cursor: pointer;
}
.comprar:focus-visible,
.retirar:focus {
  border: 2px solid var(--color-primary);
  outline: none;
  offset: none;
}
.retirar:hover,
.comprar:hover {
  border: 2px solid var(--color-accent);
  transform: scale(1.05);
}
.retirar:active,
.comprar:active {
  color: var(--color-dark3);
  border: 2px solid var(--color-dark3);
}
.comprar:disabled,
.retirar:disabled {
  background-color: var(--color-ligth2);
  color: var(--color-dark2);
  cursor: not-allowed;
}

.tarjeta:hover {
  box-shadow: 0 8px 15px rgba(217, 168, 108, 0.6);
}
.jugador-tarjeta:hover {
  box-shadow: 0 4px 15px rgba(108, 217, 115, 0.72);
}
.enemigo-tarjeta:hover {
  box-shadow: 0 4px 15px rgba(237, 154, 127, 0.6);
}
.loser-icon {
  font-size: var(--font-size-100);
  opacity: 0;
  animation: fadeIn 2s forwards, rotate 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-move-right {
  transform: translateX(-1000px);
  animation: moveRight 3s forwards;
}

@keyframes moveRight {
  to {
    transform: translateX(0);
  }
}

.animate-move-left {
  transform: translateX(1000px);
  animation: moveLeft 3s forwards;
}

@keyframes moveLeft {
  to {
    transform: translateX(0);
  }
}

.appear {
  transform: scale(0);
  animation: getBigger 3.2s forwards;
}

@keyframes getBigger {
  to {
    transform: scale(1);
  }
}

@media (max-width: 1080px) {
  #seccion-1,
  #seccion-3 {
    gap: var(--gap-40);
  }
  #seccion-2,
  #seccion-4 {
    gap: var(--gap-40);
  }
  h1 {
    font-size: var(--font-size-50);
  }
  h2 {
    font-size: var(--font-size-30);
  }
  .casilla {
    height: 50px;
    width: 50px;
    overflow: hidden;
  }
  .estadisticas-container > div,
  .producto,
  .enemigo-container,
  .batalla-vs {
    font-size: var(--font-size-20);
    line-height: calc(var(--linea-height-text) * var(--font-size-20));
  }
  .jugador-info-container {
    width: 500px;
  }
  .datos-jugador-container {
    height: 220px;
  }
  .mercado-container,
  .enemigos-container {
    height: 80%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .batalla-container {
    gap: var(--gap-50);
    height: 40%;
  }

  #seccion-5 p {
    font-size: var(--font-size-20);
    line-height: calc(var(--linea-height-text) * var(--font-size-20));
  }
  #seccion-6 {
    gap: var(--gap-100);
  }
  .ranking-container {
    font-size: var(--font-size-36);
    line-height: calc(var(--linea-height-text) * var(--font-size-36));
    gap: var(--gap-40);
  }
  .continuar,
  .reiniciar,
  .comprar,
  .retirar {
    padding: var(--padding-10) var(--padding-60);
    font-size: var(--font-size-18);
  }
}

@media (max-width: 1023px) {
  #seccion-1,
  #seccion-3 {
    gap: var(--gap-60);
  }
  #seccion-2 {
    gap: var(--gap-50);
  }
  #seccion-4 {
    gap: var(--gap-50);
  }
  h1 {
    font-size: var(--font-size-50);
  }
  h2 {
    font-size: var(--font-size-36);
  }
  .casilla {
    height: 60px;
    width: 60px;
  }
  .jugador-info-container {
    width: 560px;
    margin-top: var(--margin-80);
  }
  .datos-jugador-container {
    height: 500px;
  }
  .mercado-container,
  .enemigos-container {
    height: 80%;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    margin-top: var(--margin-50);
  }
  .img-producto-container,
  .imagen-enemigo-container {
    height: 125px;
  }
  .estadisticas-container > div,
  .producto,
  .enemigo-container,
  .batalla-vs {
    font-size: var(--font-size-20);
    line-height: calc(var(--linea-height-text) * var(--font-size-20));
    padding: var(--padding-16);
  }

  #seccion-5 p {
    font-size: var(--font-size-24);
    line-height: calc(var(--linea-height-text) * var(--font-size-24));
  }
  .resumen-batallas {
    max-height: 150px;
  }
  .batalla-container {
    height: 40%;
  }

  .batallita-container > span {
    font-size: var(--font-size-20);
    line-height: calc(var(--linea-height-text) * var(--font-size-20));
  }
  .continuar,
  .reiniciar,
  .comprar,
  .retirar {
    padding: var(--padding-20) var(--padding-60);
    font-size: var(--font-size-24);
    line-height: calc(var(--linea-height-text) * var(--font-size-24));
  }
  .comprar,
  .retirar {
    padding: var(--padding-14) var(--padding-20);
    font-size: var(--font-size-20);
    line-height: calc(var(--linea-height-text) * var(--font-size-20));
  }
  .loser-icon {
    font-size: var(--font-size-150);
  }
}

@media (max-width: 719px) {
  #seccion-1,
  #seccion-3,
  #seccion-2 {
    gap: var(--gap-40);
  }
  #seccion-2 {
    gap: var(--gap-40);
  }
  #seccion-2,
  #seccion-4 {
    gap: var(--gap-30);
  }
  #seccion-4 {
    padding: 0;
  }
  h1 {
    font-size: var(--font-size-24);
  }
  h2 {
    font-size: var(--font-size-20);
  }
  .casilla {
    height: 40px;
    width: 40px;
  }
  .jugador-info-container {
    width: 300px;
    margin-top: var(--margin-10);
  }
  .datos-jugador-container {
    height: 160px;
  }
  .mercado-container,
  .enemigos-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: var(--margin-20);
  }
  .batalla-container {
    height: 30%;
  }
  .estadisticas-container > div,
  .producto,
  .enemigo-container,
  .batalla-vs {
    font-size: var(--font-size-12);
    line-height: calc(var(--linea-height-text) * var(--font-size-12));
    padding: var(--padding-10);
  }
  .ranking-container {
    font-size: var(--font-size-20);
    line-height: calc(var(--linea-height-text) * var(--font-size-20));
  }

  #seccion-5 p {
    font-size: var(--font-size-14);
    line-height: calc(var(--linea-height-text) * var(--font-size-14));
  }
  .resumen-batallas {
    max-height: 120px;
  }
  .batalla-container {
    gap: var(--gap-20);
  }
  .batalla-container > span {
    font-size: var(--font-size-14);
    line-height: calc(var(--linea-height-text) * var(--font-size-14));
  }
  .batallita-container > span {
    font-size: var(--font-size-12);
    line-height: calc(var(--linea-height-text) * var(--font-size-12));
  }
  .continuar,
  .reiniciar {
    font-size: var(--font-size-16);
    line-height: calc(var(--linea-height-text) * var(--font-size-16));
    padding: var(--padding-6) var(--padding-12);
  }
  .comprar,
  .retirar {
    font-size: var(--font-size-12);
    line-height: calc(var(--linea-height-text) * var(--font-size-12));
    padding: var(--padding-6) var(--padding-12);
  }
  .loser-icon {
    font-size: var(--font-size-100);
  }
}
